<p>Hey{% if billing_address.name %} {{ billing_address.name }}{% endif %},</p>
<p></p>
<p>Your shopping cart at {{ shop_name }} has been reserved and is waiting for your return!</p>
<p></p>
<p>In your cart, you left:</p>
<p></p>
<p>{% for line in line_items %}{{ line.quantity }}x {{ line.title }}{% endfor %}</p>
<p></p>
<p>But it's not too late! To complete your purchase, click this link:</p>
<p></p>
<p>{{ url }}</p>
<p></p>
<p>Thanks for shopping!</p>
<p></p>
<p>{{ shop_name }}</p>

