<p class="lead">Hey{% if billing_address.name %} {{ billing_address.name }}{% endif %},</p>
<p class="lead">Your shopping cart at {{ shop_name }} has been reserved and is waiting for your return!</p>

<p>In your cart, you left:</p>
<ul>
  {% for line in line_items %}
  <li>
    {{ line.quantity }} x {{ line.title }}
  </li>
  {% endfor %}
</ul>
<p>But it's not too late! To complete your purchase, click this link:</p>
<p>{{ url }}</p>

<p>Thanks for shopping!<br />
{{ shop_name }}</p>

