<p class="lead">{{ service_name }},</p>
<p class="lead">Please fulfill order {{ name }}.</p>
<p>Total number of items: {{ fulfillment.item_count }}</p>
<p>Unique items: {{ fulfillment.fulfillment_line_items.size }}</p>

<h6>Items to fulfill:</h6>

<table class="products-table fulfillment">
  <thead>
    <tr>
      <th>
        Variant Title
      </th>
      <th>
        SKU
      </th>
      <th>
        Qty
      </th>
      <th>
        Grams
      </th>
      <th>
        Vendor
      </th>
    </tr>
  </thead>
  <tbody>
  {% for line in fulfillment.fulfillment_line_items %}
    <tr>
      <td>
        {{ line.line_item.title }}
      </td>
      <td>
        {{ line.line_item.sku }}
      </td>
      <td>
        {{ line.quantity }} 
      </td>
      <td>
        {{ line.line_item.grams }}
      </td>
      <td>
        {{ line.line_item.vendor }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% if shipping_address %}
  <h6>Shipping Address:</h6>
  <p>
    {{ shipping_address.name }}
    {% if shipping_address.company %}
      {{ shipping_address.company }}
    {% endif %}
  </p>
  <p>{{ shipping_address.address1 }}</p>
  <p>{{ shipping_address.address2 }}</p>
  <p>{{ shipping_address.city }}, {{ shipping_address.province }}</p>
  <p>{{ shipping_address.zip }}</p>
  <p>{{ shipping_address.country }}</p>
  {% if shipping_address.phone %}
    <p>Phone: {{ shipping_address.phone }}</p>
  {% endif %}
{% endif %}

<h6>Shipping Method:</h6>
<p>{% if shipping_method %}{{ shipping_method.title }}{% else %}None{% endif %}</p>

<h6>Tracking Number:</h6>
<p>{% if fulfillment.tracking_number %}{{ fulfillment.tracking_number }}{% else %}None{% endif %}</p>

<h6>Customer Email:</h6>
<p>{{ email }}</p>

<p>Thank you,</p>
<p>{{ shop_name }}</p>
