<p class="lead">{{ shop_name }},</p>
<p class="lead">{{ billing_address.name }} placed a new order with you today ({{ date | date: "%b %d %I:%M%p" }}).</p>

<h4>Payment method:</h4>
<p>{{ gateway }}</p>

{% if requires_shipping %}
<h4>Delivery method:</h4>
<p>
{% for shipping_method in shipping_methods %}
  {{ shipping_method.title }}{% unless forloop.last %}<br />{% endunless %}
{% endfor %}
</p>

<h4>Shipping address:</h4>
<p>
  {{ shipping_address.name }}<br />
  {{ shipping_address.street }}<br />
  {{ shipping_address.city }}<br />
  {{ shipping_address.province }} {{ shipping_address.zip }}<br />
  {{ shipping_address.country }}
</p>
<p>{{ shipping_address.phone }}</p>
{% endif %}

<table class="products-table">
  <thead>
    <tr>
      <th>
      </th>
      <th class="product-description">
        Description
      </th>
      <th>
        Qty
      </th>
      <th>
        Price
      </th>
    </tr>
  </thead>
  <tbody>
  {% for line in line_items %}
    <tr>
      <td class="product-image">
        <img src="{{ line.product.featured_image | product_img_url: 'small' }}" />
      </td>
      <td class="product-description">
        {{ line.title }}
        {% for p in line.properties %}
          {% unless p.last == blank %}
            <br /> - {{ p.first }}: {{ p.last }}
          {% endunless %}
        {% endfor %}
      </td>
      <td class="qty">
        {{ line.quantity }} 
      </td>
      <td class="price">
        {{ line.price | money }} each
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<p><a href="{{ shop.url }}/admin/orders/{{ id }}">View order {{order_name}}</a></p>

