<p>{{ shop_name }},</p>
<p></p>
<p>{{ billing_address.name }} placed a new order with you today ({{ date | date: "%b %d %I:%M%p" }}).</p>
<p></p>
<p>Payment method:</p>
<p>{{ gateway }}{% if requires_shipping %}</p>
<p></p>
<p>Delivery method:</p>
<p>{% for shipping_method in shipping_methods %}{{ shipping_method.title }}</p>
<p>  {% endfor %}</p>
<p></p>
<p>Shipping address:</p>
<p>  {{ shipping_address.name }}</p>
<p>  {{ shipping_address.street }}</p>
<p>  {{ shipping_address.city }}, {{ shipping_address.province }}  {{ shipping_address.zip }}</p>
<p>  {{ shipping_address.country }}</p>
<p>  {{ shipping_address.phone }}{% endif %}</p>
<p></p>
<p></p>
<ul>  {% for line in line_items %} <li> <img src="{{ line.product.featured_image | product_img_url: 'thumb' }}" /> {{ line.quantity }}x {{ line.title }} for {{ line.price | money }} each <br />{% for p in line.properties %}{% unless p.last == blank %} - {{ p.first }}: {{ p.last }}{% endunless %}{% endfor %}</li> {% endfor %} </ul>

<a href="{{ shop.url }}/admin/orders/{{ id }}">View order {{order_name}} </a>

