{% if billing_address.name %}
<p class="lead">Dear {{ billing_address.name }},</p>
{% endif %}

<p class="lead">The following shipped items from order {{ name }} have been updated with new shipping information:</p>

<table class="products-table">
  <thead>
    <tr>
      <th>
      </th>
      <th class="product-description">
        Description
      </th>
      <th>
        Qty
      </th>
    </tr>
  </thead>
  <tbody>
  {% for line in fulfillment.fulfillment_line_items %}
    <tr>
      <td class="product-image">
        <img src="{{ line.line_item.product.featured_image | product_img_url: 'small' }}" />
      </td>
      <td class="product-description">
        {{ line.line_item.title }}
      </td>
      <td class="qty">
        {{ line.quantity }} 
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<p>They are being shipped{% if fulfillment.tracking_company %} via {{ fulfillment.tracking_company }}{% endif %} with tracking number {{ fulfillment.tracking_number }}. <a href="{{ fulfillment.tracking_url }}">Click here to see the status of this shipment</a>.</p>

<p>Please allow some time for the status of the shipment to correctly display at the above address.</p>

